.metricaitem {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
}

.metricaitem__tit {
    width: fit-content;
    height: auto;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #8E2424;
}

.metricaitem__sub {
    width: fit-content;
    height: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.metricaitem__text {
    width: 279px;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    text-align: left;
}

@media (max-width: 1024px) {
    .metricaitem__tit, .metricaitem__sub, .metricaitem__text {
        text-align: center;
    }
}