* {
    text-decoration: none;
    list-style: none;
}

.background__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #FdF8F8;
    padding: 5%;
    border-radius: 8px;;
    width: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.modal__x {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 5%;
    cursor: pointer;
}

.modal img {
    display: flex;
    width: auto;
    height: auto;
    gap: 8px;
    padding: 5%;
}

.modal__content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 10%;
    gap: 10px;
}

.modal__input{
    background: transparent;
    width: auto;
    height: auto;
    padding: 4% 1%;
}

::placeholder {
    color: #667085;
    font-weight: 500;
}

.modal__btnlogin {
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    padding: 5%;
    background-color: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.modal__contato {
    padding-top: 5%;
    color: #667085;
    font-weight: 500;
}

.modal__icons {
    width: 100%;
    font-size: larger;
}

.modal__icons ul {
    display: flex;
    padding: 5%;
    justify-content: space-around;
    font-size: larger;
}

@media (orientation: landscape) {
    .modal {
      max-height: 90vh;
      overflow-y: auto;
    }
  }