.navbar {
    display: flex;
    height: 5rem;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.navbar__container {
    display: flex;
    width: 80rem;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.navbar__container img {
    display: flex;
    width: 9.25rem;
    height: 1.69rem;
    gap: 8px;
}

.navbar__content {
    display: flex;
    width: 22.62rem;
    height: auto;
    gap: 40px;
    align-items: center;
}

.navbar__content ul{
    display: flex;
    width: 22.62rem;
    height: auto;
    gap: 40px;
    align-items: center;
}

.navbar__content a {
    width: auto;
    height: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    text-wrap: nowrap;
}

.navbar__logo {
    width: 8.9rem;
    height: 2rem;
}

.navbar__actions {
    display: flex;
    width: auto;
    height: auto;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.navbar__actions ul {
    display: flex;
    width: auto;
    height: auto;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.navbar__btnentrar, .navbar__btncadastrar {
    display: flex;
    border-radius: 8px;
    padding: 10px 18px;
    gap: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar__btnentrar:hover, .navbar__btncadastrar:hover {
    display: flex;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 18px;
    gap: 8px;
    text-align: center;
    background-color: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.abrir__menu {
    display: none;
}
 
.navbar__mobile {
    display: none;
}

.overlay-menu {
    display: none;
}

@media screen and (max-width: 1024px){    
    .navbar__content, .navbar__logo {
        display: none;
        position: absolute;
    }

    .navbar {
        height: auto;
        padding: 5% 0;
    }

    .navbar__container {
        width: 100%;
        height: auto;
    }

    .navbar__container img {
        display: flex;
        align-items: center;
    }

    .navbar__actions {
        display: none;
    }

    .abrir__menu {
        display: flex;
        padding: 5%;
    }

    .navbar__mobile {
        display: flex;
        flex-direction: column;
        background: #FDF8F8;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        width: 70%;
        overflow-y: auto;
    }

    .navbar__mobile__x {
        display: flex;
        position: relative;
        left: 0;
        padding: 5%;
        align-items: center;
    }

    .navbar__mobile__content {
        padding-bottom: 5%;
    }

    .navbar__mobile nav ul {
        padding: 5%;
        text-align: right;
        }

    .navbar__mobile nav ul li a, .navbar__mobile nav ul li button {
        display: flex;
        flex-direction: column;
        color: #667085;
        font-weight: 500;
        padding: 5%;
        width: 100%;
        text-align: right;
    }

    .navbar__mobile nav ul li a:hover, .navbar__mobile nav ul li button:hover  {
        background: #8E2424;
        color: #FFFFFF;
        border-radius: 16px;
    }

    .overlay-menu {
        display: flex;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88;
    }
}