.navbar {
    display: flex;
    height: 5rem;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.navbar__container {
    display: flex;
    width: 80rem;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.navbar__container img {
    display: flex;
    width: 9.25rem;
    height: 1.69rem;
    gap: 8px;
}

.navbar__content {
    display: flex;
    width: 22.62rem;
    height: 2rem;
    gap: 40px;
    align-items: center;
}

.navbar__content a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    text-wrap: nowrap;
}

.navbar__logo {
    width: 8.9rem;
    height: 2rem;
}

.navbar__actions {
    display: flex;
    width: 12.9rem;
    height: 2.75rem;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.btnentrar {
    display: flex;
    border-radius: 8px;
    padding: 10px 18px;
    gap: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.btncadastrar {
    display: flex;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 18px;
    gap: 8px;
    text-align: center;
    background-color: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px){    
    .navbar__content, .navbar__logo {
        display: none;
        position: absolute;
    }

    .navbar {
        height: 198.5px;
    }

    .navbar__container {
        flex-direction: column;
        height: 162.5px;
        position: relative;
        top: 18px;
        width: 100%;
    }

    .navbar__container img {
        position: relative;
        margin-top: 8.5px;
    }

    .navbar__actions {
        flex-direction: column;
        width: 9.25rem;
        height: 100px;
        position: relative;
        margin-top: 18px;
    }

    .btnentrar, .btncadastrar {
        width: 9.25rem;
        flex-direction: column;    }
}