.metricas {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 96px;
    gap: 64px;
    color: #FFFFFF;
    justify-content: center;
}

.metricas__container {
    display: flex;
    width: 1280px;
    height: auto;
    padding: 0 32px;
    gap: 64px;
}

.metricas__content {
    display: flex;
    width: 1216px;
    gap: 32px;
}

@media (max-width: 1241px) {
    .metricas {
        padding: 5% 0;
    }

    .metricas__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}