.formulario {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 96px 0;
    gap: 32px;
    background: #F9FAFB;
    justify-content: center;
    align-items: center;
}

.formulario__content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.formulario__text {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    gap: 20px;
}

.formulario__tit {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    text-align: center;
    color: #101828;
}

.formulario__sup {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -2%;
    text-align: center;
    color: #667085;
}

.formulario__email {
    display: flex;
    width: auto;
    height: auto;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.formulario__input {
    display: flex;
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    padding: 12px 14px 12px 16px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.btncadastrar {
    display: flex;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 18px;
    gap: 8px;
    text-align: center;
    background-color: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.direitos {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
}

@media screen and (max-width: 1024px) {
    .formulario, .formulario__content, .formulario__text, .formulario__email, .formulario__input, .btncadastrar, .direitos {
        max-width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .formulario {
        padding-top: 5%;
    }
}