.talentos {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 602px;
    justify-content: space-between;
    align-items: center;
}

.talentos__text {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    
}

.talentos__badtit {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 16px;
    align-items: center;
}

.talentos__badge {
    width: auto;
    height: auto;
    mix-blend-mode: Multiply;
    border-radius: 16px;
    padding: 4px 12px;
    background: #8E24240D;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
}

.talentos__title {
    width: auto;
    height: auto;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    text-align: center;
    color: #101828;
}

.talentos__sub {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

.talentos__img {
    width: auto;
    height: auto;
}

@media (max-width: 1216px) {
    .talentos__img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .talentos {
        width: 100%;
        height: auto;
        padding: 5% 0;
    }

    .talentos__img {
        padding-top: 5%;
        width: 100%;
        height: auto;
    }
}