.cabecalho {
    display: flex;
    flex-direction: column;
    height: 407px;
    padding: 96px 0;
    justify-content: center;
    align-items: center;
}

.cabecalho h2 {
    height: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}

.cabecalho__tit {
    display: flex;
    width: auto;
    height: auto;
    padding: 0 32px;
    gap: 12px;
    justify-content: center;
}

.cabecalho__tit h1 {
    display: flex;
    gap: 40px;
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
    color: #101828;
}

.cabecalho__text {
    max-width: 792px;
    padding-top: 12px;
    height: 83px;
}

.cabecalho__text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

@media screen and (max-width: 1024px){
    .cabecalho {
        padding: 5% 0;
        height: auto;
    }

    .cabecalho__text {
        height: auto;
    }
}

@media screen and (max-width: 450px){
    .cabecalho__content {
        width: 90%;
    }

    .cabecalho__tit h1 {
        font-size: 24px;
    }
}