.cabecalho {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 96px 0;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h2 {
    height: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}

.cabecalho__tit {
    display: flex;
    width: auto;
    height: auto;
    padding: 0 32px;
    gap: 12px;
}

.cabecalho__tit h1 {
    display: flex;
    gap: 40px;
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
    color: #101828;
}

.cabecalho__text {
    max-width: 792px;
    padding-top: 12px;
}

.cabecalho__text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

/* @media screen and (max-width: 1024px){
    .cabecalho {

    }
} */